﻿body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
}
header {
    background-image: url("../Images/Northwind.jpg");
    background-position: left;
    background-repeat: no-repeat;
    height: 156px;
}
section {
    padding: 1em;
}
.error
{
    margin-top: 1em;        
    color: darkviolet;
}